
*.rules
*.ses
*.lib
*.dsn
*.db
*.sch-bak
Hardware/ACI/fp-info-cache
*.kicad_pcb-bak
Hardware/6502/6502-Controller.xml
Hardware/6502/fp-info-cache
*.pdf
Hardware/6502/fp-info-cache
Hardware/6502/fp-info-cache
Hardware/6502/fp-info-cache
